/* src/features/WorkspaceDashboard/components/sections/SharedSection.module.css */

.section-header h2 {
  color: var(--color-linco-navy);
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 5px;
}

.section-header p {
  color: #475569;
  font-size: 1rem;
  margin-bottom: 30px;
}

.cards-grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
